HOST=0.0.0.0
PORT=1337
APP_KEYS="replace-me-APP_KEYS"
API_TOKEN_SALT=replace-me-API_TOKEN_SALT
ADMIN_JWT_SECRET=replace-me-ADMIN_JWT_SECRET
TRANSFER_TOKEN_SALT=replace-me-TRANSFER_TOKEN_SALT
JWT_SECRET=replace-me-JWT_SECRET
ENCRYPTION_KEY=replace-me-ENCRYPTION_KEY
DATABASE_CLIENT=postgres
DATABASE_URL=
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=contest_participation_system
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false
DATABASE_SCHEMA=public
DATABASE_SSL_REJECT_UNAUTHORIZED=true
SEED_SAMPLE_DATA=true
SEED_NORMAL_USER_EMAIL=normal@example.com
SEED_NORMAL_USER_PASSWORD=Password1
SEED_VIP_USER_EMAIL=vip@example.com
SEED_VIP_USER_PASSWORD=Password1
SEED_CONTEST_ADMIN_EMAIL=contestadmin@example.com
SEED_CONTEST_ADMIN_PASSWORD=Password1
